*{
    margin: 0;
    font-family: "Actor", sans-serif;
}

/* -------------------- navbar -------------------- */

.calfoodieTitle{
    background-color: #7BB599;
    padding: 10px 0px;
}

.calfoodieTitle h1{
    font-family: "Jomhuria", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 70px;
    color: #f2f2f2;
}

.navbarlinks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    background-color: #7BB599;
    text-align: center;
    padding-bottom: 15px;
    }

.navbarlinks a{
    text-decoration: none;
    font-size: 15px;
    color: #f2f2f2;
    font-weight: 600;
    letter-spacing: .02cm;
}    

.navbarlinks a:hover {
    color:#EDD7B7;
    transition: .5ms;
}

.home nav{
    grid-area: 1 / 1 / 2 / 2; 
}

.recipesnav{
    grid-area: 1 / 2 / 2 / 3; 
}

.mealplannav{
    grid-area: 1 / 3 / 2 / 4; 
}

.mindnav{
    grid-area: 1 / 4 / 2 / 5; 
}

.regnav{
    grid-area: 1 / 5 / 2 / 6; 
}



.foot{
    background-color: #7BB599;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 2.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.footertitle{
    grid-area: 1 / 1 / 2 / 2; 
    text-align: center;
    border-bottom: 1px solid #fff;
}

.footertitle h1{
    font-family: "Jomhuria", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 65px;
    color: #f2f2f2; 
}

.footerlinks{
    grid-area: 2 / 1 / 3 / 2; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 20px 100px;
}

.footerhome{
    grid-area: 1 / 1 / 2 / 2;
}

.footerservices{
    grid-area: 1 / 2 / 2 / 3;
}

.footermhl{
    grid-area: 1 / 3 / 2 / 4;
}

.footerconnect{
    grid-area: 1 / 4 / 2 / 5;
}

.footlinks{
    display: flex;
    flex-direction: column;
}

#footlink{
    text-decoration: none;
    color:#f2f2f2;
    font-size: 13px;
    padding: 10px 0px 5px 0;
    font-weight: 600;
}

#footlink:hover{
    color: #EDD7B7;
    transition: .2ms;
}

.foottitle{
    font-size: 11px;
    color: #f2f2f2;
    padding: 10px 0;
}

.footerhome #footlinkh{
    text-decoration: none;
    color:#f2f2f2;
    font-size: 17px;
    padding: 10px 0;
    font-weight: 600;
}

.footerhome #footlinkh:hover{
    color: #EDD7B7;
    transition: .2ms;
}

.dot{
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 15px;
    margin-right: 10px;
}

.dot:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(28, 126, 95, 0.835);
}